body{
    width: 512px;
    padding: 0;
    margin: 0;
}
header{
    display: inline-flex;
    padding: 0;
}
main{
    font-size: 1.5em;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
footer{
    padding: 10px;
}
#icon{
    padding: 15px;
}
.title{
    display: inline;
    margin-inline: 0;
    padding-inline: 0;
    font-size: 3.5em;
    font-family: serif;

    text-shadow: 1px 1px black; 
}
.header{
    padding-top: 1.5em;

}
#T{
    font-size: 4.5em;
}